[submodule "toxcore-sys/c-toxcore"]
	path = toxcore-sys/c-toxcore
	url = https://github.com/toktok/c-toxcore
[submodule "toxcore-sys/src/c-toxcore"]
	path = toxcore-sys/src/c-toxcore
	url = https://github.com/toktok/c-toxcore
[submodule "openal-sys/src/openal-soft"]
	path = openal-sys/src/openal-soft
	url = https://github.com/kcat/openal-soft
[submodule "ui/qmetaobject-rs"]
	path = ui/qmetaobject-rs
	url = git@github.com:sphaerophoria/qmetaobject-rs.git
